<div class="filtercontainer">
  <div class="listcontainer" id="countrylist"> 
      <mat-card><h3>Countries</h3></mat-card>
    
      <div
        cdkDropList
        #countrylist="cdkDropList"
        [cdkDropListData]="countries"
        [cdkDropListConnectedTo]="[filterlist]"
        class="dlist"
        (cdkDropListDropped)="drop($event)">
        <div class="lbox" *ngFor="let country of countries" cdkDrag>{{country}}</div>
      </div>
    </div>
    
    <div class="listcontainer" id="filterlist">
      <mat-card><h3>Filter</h3></mat-card>
    
      <div
        cdkDropList
        #filterlist="cdkDropList"
        [cdkDropListData]="filter"
        [cdkDropListConnectedTo]="[countrylist]"
        class="dlist"
        (cdkDropListDropped)="drop($event)">
        <div class="lbox" *ngFor="let country of filter" cdkDrag>{{country}}</div>
      </div>
    </div>
</div>

<div class="buttoncontainer">
  <button mat-raised-button id="savebutton" color="primary" disabled>Save</button>
  <button mat-raised-button id="filterbutton" color="accent" (click)="sendItems()">Apply</button>
</div>